@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

/* Navbar styling  */

.navbarbg {
  background-image: url(./nasabg.png);
  height: 90px;
  justify-content: center;
  display: flex;
} 

.homebtn {
  margin-top: 25px;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/* NasaPhoto styling */
.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
  background-image: url(./nasabg.png);
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
  border-radius: 20px;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: #bbb;
}

.nasa-photo .title {
  margin-top: 0;
  margin-bottom: 30px;
  width: auto;
  height: auto;
  background: rgb(88, 47, 47);
  border-radius: 20px;
  justify-content: center;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 20px;
}

.nasa-photo .explanation {
  color: #bbb;
  width: auto;
  height: auto;
  background: rgb(88, 47, 47);
  border-radius: 20px;
  justify-content: center;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
    width: 500px;
    height: 600px;
    border-radius: 20px;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

/* Home styling */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./nasabg.png);
  height:auto;
  min-height:960px;
  height:auto !important; 
  height:960px;
}

.home-link {
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
}